{% extends 'rate/layouts/layout_base.html' %}

{% block title %}Каталог курса валют{% endblock %}


{% block content %}

<section class="container">
    <div class="col-auto">
        <table class="table table-bordered border-dark table-striped table-hover">
            <thead>
            <tr>
                <th class="text-center" scope="col">Единиц</th>
                <th class="text-center" scope="col">Код валюты</th>
                <th class="text-center" scope="col">Дата установки курса</th>
                <th class="text-center" scope="col">Курс валюты в рублях</th>

                <th class="text-center" scope="col">Действие</th>
            </tr>
            </thead>

            {% if object_list %}
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <th class="text-center" scope="row">{{ object.currency.nominal }}</th>
                        <th class="text-center" scope="row">{{ object.currency }}</th>
                        <td class="text-center">{{ object.date }}</td>
                        <td class="text-center">{{ object.rate }}</td>

                        <td class="text-center">
                            <div class="btn-group">
                                {% if object %}
                                    <a class="btn btn-sm btn-info"
                                       href="{# url 'rate:currency-rate-detail' object.pk #}">
                                        Посмотреть курс
                                    </a>
                                {% else %}
                                    <p>Действия недоступны</p>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
</section>

{% endblock %}


{% block element %}


{% endblock %}

{% block blog %}


{% endblock %}
